html,body{
	padding: 0;
}

.change_rush{
	width: 100%;
	height: 2.8rem;
	margin-top: 50px;
	margin-left: 0;
	margin-bottom: 0.5rem;
}

.change_rush ul{
	width: 100%;
	height: 2.8rem;
	padding: 0;
	margin: 0;
}

.change_rush>ul>li a{
	text-align: center;
	color: #000000;
	display: block;
	width: 33.3%;
	font-size: 0.9rem;
	line-height: 2.8rem;
	float: left;
	background:#E0E0E0;
}

.change_rush_con{
	padding: 0 0.6rem 0.2rem 0.6rem;
}

#ChangeWrap {
	width: 100%;
	height: 7.5rem;
	padding: 1rem 0.2rem 0 0.5rem;
	border: 1px solid #E7E7E7;	
}

.change_con_left{
	width: 15.5rem;
	float: left;
}

.change_con_left p{
	display: block;
	font-size: 0.9rem;
	line-height: 1.3rem;
	color: #000000;
}

.change_con_left span{
	display: block;
	font-size: 0.75rem;
	line-height: 1.15rem;
	color: rgba(128, 24, 24, 1);
}

.change_con_right{
	width: 3.5rem;
	height: 3.5rem;
	float: left;
	margin-left: 1rem;
	margin-top: 0.8em;
}

/*.change_con_right a{
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	background: #FF0000;
}*/

.change_con_right a img{
	width: 3.5rem;
	height: 3.5rem;
	float: left;
}


