html,body{
	padding: 0;
}

.change_rush{
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-left: 0;
	margin-bottom: 0.5rem;
}

.change_rush ul{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.change_rush>ul>li a{
	text-align: center;
	color: #000000;
	display: block;
	width: 33.3%;
	font-size: 0.9rem;
	/*line-height: 2.8rem;*/
	line-height: 38px;
	float: left;
	/*background:#E0E0E0;*/
	background: #fff;
}

.change_rush_con{
	padding: 0 0.6rem 0.2rem 0.6rem;
}

.change-wrap {
	display: flex;
	width: 100%;
	height: 6.5rem;
	padding: 0.5rem 0 0.5rem 0.5rem;
	border: 1px solid #E7E7E7;	
	margin-bottom: 0.3rem;
	margin-top: 0.5rem;
}

.change_con_left{
	width: 15rem;
	float: left;
}

.change_con_left p{
	display: block;
	font-size: 0.9rem;
	line-height: 1.3rem;
	color: #000000;
}

.change_con_left span{
	display: block;
	font-size: 0.75rem;
	line-height: 1.15rem;
	color: rgba(128, 24, 24, 1);
}

.right{
	width: 5.5rem;
	height: auto;
	float: left;
	padding: 0;
	padding-top: 0.8rem;
}

.change_con_right{
	width: 3.5rem;
	height: 3.5rem;
	margin-left: 1rem;
	border-radius: 1.75rem;
	box-shadow:0px 5px 8px #ACACB4;
}

.right_no{
	background: #DB4527;
}

.right_all{
	background: #C0C0C0;
}

.change_con_right a{
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	float: left;
	color: #FFFFFF;
	background: url(../images/cuiban_w.png) no-repeat center;
	background-size: 30px 30px;
}

.right span{
	display: block;
	width: 100%;
	margin-top: 0.3em;
	color: #999999;
	font-size: 0.59rem;
}


