.chooseArea {
	margin-top: 13px;
	height: 32px;
	width: 100%;
}

input[type=text] {
	width: 90%;
	margin-left: 21px;
	height: 26px;
	font-size: 1rem;
}

#equipStatus_search {
	color: #AAAAAA;
	margin-right: 10px;
}

.mui-content>.dl>dt {
	margin-left: 21px;
	margin-top: 10px;
}

.mui-content>.dl>dt>img {
	height: 18px;
	width: 18px;
	vertical-align: middle;
}

.mui-content>.dl>dt>span {
	color: #666666;
	display: inline-block;
	font-size: 1.215rem;
	vertical-align: middle;
	margin-left: 5px;
}

.mui-content>.dl>dd {
	margin-left: 0px;
	background: white;
	width: calc(100% - 0px);
	margin-top: 5px;
	border: 1px solid #ddd;
	border-radius: 0px;
	height: 180px;
}

.mui-content>.dl>dd>div {
	width: 100%;
	height: 100%;
}

.mui-content>dl:last-child>dt {
	margin-left: 21px;
	margin-top: 13.8px;
}

.mui-content>dl:last-child>dt>img {
	height: 18px;
	width: 18px;
	vertical-align: middle;
}

.mui-content>dl:last-child>dt>span {
	color: #666666;
	display: inline-block;
	font-size: 1.215rem;
	vertical-align: middle;
	margin-left: 5px;
}

.mui-content>dl:last-child>.equipStatus_else_dd {
	margin-left: 0px;
	background: white;
	width: calc(100% - 0px);
	margin-top: -5px;
	 /*border: 1px solid #BBBBBB;*/ 
	-webkit-box-shadow: 0 0 5px #BBBBBB;
	-moz-box-shadow: 0 0 5px #BBBBBB;
	box-shadow: 0 0 5px #BBBBBB;
	border-radius: 5px;
	height: 60px;
	display: flex;
}

.mui-content>dl:last-child>dd>dl>dt {
	text-align: right;
	color: #666666;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.8rem;
}

.mui-content>dl:last-child>dd>dl>dd {
	text-align: right;
	font-size: 0.8rem;
	color: #666666;
	padding-right: 5px;
}

.mui-content>dl:last-child>dd>dl {
	width: 24%;
	height: 100%;
	display: flex;
	margin: 0.2rem 0.3rem 0.3rem 0.3rem;
	flex-direction: column;
	justify-content: center;
}

.mui-content>dl:last-child>dd>ul {
	list-style: none;
	display: flex;
	height: 100%;
	margin-top: 0.2rem;
	margin-right: 0.3rem;
	margin-bottom: 0.35rem;
	margin-left: 0.3rem;
	width: 80%;
	padding-left: 0.5rem;
	justify-content: space-around;
}

.mui-content>dl:last-child>dd>ul>li {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mui-content>dl:last-child>dd>ul>li>dl>dt {
	text-align: left;
	color: #666666;
	font-size: 0.8rem;
}

.mui-content>dl:last-child>dd>ul>li>dl>dd {
	margin-left: 0;
	text-align: center;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.8rem;
}

.mui-content>dl:last-child>dd>ul>li:last-child>dl:last-child {
	margin-right: 20px;
}

#state_title{
	width: 100%;
	height: 1.3rem;
	margin-bottom: 1rem;
}

#state_title .state_title_area{
	width: 40%;
	height: 1.3rem;
	float: left;
	font-size: 0.8rem;
	line-height: 1.3rem;
}

#state_title .state_title_offo{
	display: block;
	width: 25%;
	height: 1.3rem;
	float: left;
	float: right;
	font-size: 0.7rem;
	line-height: 1.3rem;
}

.state_content_con_first .state_count{
	display: block;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.state_content_con{
	overflow: hidden;
	margin-bottom: -0.3rem;
}

.state_content_con p{
	color:#666666;
}
.pc_color span:nth-child(2){
	color: #999999;
}

