.mui-bar-nav~.mui-content {
    padding-top: 50px;
}
.mui-scroll-wrapper {
	top: 50px;
}
.fire-approve-detail .mui-scroll-wrapper {
	top: 88px;
}
.padb5 {
	padding-bottom: 5px;
}
.marl5 {
	margin-left: 5px!important;
}
.mart5 {
	margin-top: 5px;
}
.mart10 {
	margin-top: 10px;
}
.flex-box {
	display: flex;
}
.col-half {
	width: 50%;
}
.licence-wrap {
	padding: 15px 10px 10px;
	margin: 0;
	color: #333;
	font-size: 0.80rem;
}
.licence-wrap li {
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 0.8rem;
	color: #777;
	background: #fff;
}
.licence-item {
	margin-top: 25px;
	position: relative;
	padding-top: 30px!important;
	background: #fff;
}
.licence-item:first-child {
	margin-top: 10px;
}
.licence-item label {
	color: #777;
}
.licence-item-title {
	background-color: #E51C23;
	position: absolute;
	color: #FFFFFF;
	top: -15px;
	padding: 5px 15px;
	border-radius: 4px;
}
.licence-item > div {
	display: flex;
	flex-wrap: wrap;
	
}
/*动火申请*/
.fire-content {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-sizing: content-box;	
}
.content-flex {
	display: flex;
	font-size: 0.8rem;
	color: #333;
	margin-bottom: 10px;
	/*justify-content: flex-start;*/
}
.content-flex-tit {
	display: inline-block;
	width: 4.5rem;
	color: #777;
	text-align: left;
}
.block-box {
	display: block;
}
p {
	font-size: 0.8rem;
	margin-bottom: 0;
}
textarea {
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 0.8rem;
	padding: 8px;
	border-radius: 0;
}
.mart5 .radio-label {
	display: inline-block;
	margin-right: 20px;
}
.radio-label input {
	vertical-align: -2px;
	margin-right: 3px;
}
.mart5 .mui-btn-block {
	padding: 6px 12px;
	margin-top: 15px;
}
/*导航*/
.mui-card .mui-control-content {
	padding: 10px;
}
.mui-control-content {
	/*height: 150px;*/
}
.mui-control-item {
	background-color: #fff!important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #000000;
	border: 0 none;
}
.mui-active {
	background-color:  transparent!important;
}
.mui-segmented-control .mui-control-item {
	/*line-height: 43px;*/
}

/*证照详情*/
.certificate-title {
	margin-bottom: 15px;
	font-weight: 400;
	text-align: center;
	color: #333;
	font-size: 0.93rem;
}
.content-detail.block-box {
	display:block;
	height: auto;
}
.content-detail {
	display: flex;
	width: 100%;
	height: 1.75rem;
	line-height: 1.75rem;
	font-size: 0;
	margin-bottom: 10px;
}
.content-detail:last-child {
	margin-bottom: 0;
}
.content-detail.col-half {
	width: 50%;
}
.content-detail.col-more {
	width: 55%;
}
.content-detail.col-less {
	width: 45%;
}
.content-detail label {
	width: 1.5rem;
}
.content-detail.col-less .content-input {
	margin-left: -1.5rem;
	padding-left: 1.5rem;
}
.content-detail > * {
	font-size: 0.8rem;
}
.content-detail label {
	display: inline-block;
	width: 4.5rem;
	height: 1.75rem;
	line-height: 1.75rem;
	color: #777;
	text-align: center;
}
.content-detail .content-input {
	display: inline-block;
	width: 100%;
	margin-left: -4.5rem;
	padding-left: 4.5rem;
}
.content-detail .center {
	text-align: center;
}
.content-detail input {
	display: inline-block;
	/*margin: 0px!important;*/
	border-radius: 0px;
	padding: 5px;
	width: 100%;
	line-height: 0;
	height: 1.75rem;
	font-size: 0.8rem;
	color: #333;
}
.content-detail img {
	display: block;
	max-width: 100%;
}
