.approve_main{
	width: 100%;
	height: 38rem;
	padding: 0.6rem 0.3rem 0 0.6rem;
}

.approve_main>div{
	width: 100%;
	height: 1.75rem;
	line-height: 1.15rem;
	font-size: 0.75rem;
}

.approve_main>div .span_left{
	display: block;
	height: 1.75rem;
	line-height: 1.15rem;
	font-size: 0.75rem;
	float: left;
	width: 45%;
}

.approve_main>div .span_right{
	display: block;
	height: 1.75rem;
	line-height: 1.15rem;
	font-size: 0.75rem;
	float: left;
}

.approve_main .inp{
	width: 100%;
	height: auto;
	margin-bottom: 2px;
}

.approve_main .inp textarea{
	width: 100%;
	height: 4.3rem;
	line-height: 1.15rem;
	border: 0;
	word-break: break-all;
	font-size: 0.75rem;
	background: none;
}


/*附件*/
.approve_main .case_atta{
	/*width: 100%;*/
	height: 2rem;
	margin-left: 1.3rem;
}

.approve_main .case_atta a{
	display: block;
	width: 2rem;
	height: 2rem;
	float: left;
}

.approve_main .case_atta a img{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
}

.change_main_inform .case_atta span{
	display: block;
	width: 2rem;
	height: 1.5rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	float: left;
	margin-left: 0;
}

.approve_main_video{
	margin-bottom: 1rem;
	width: 100%;
	height: 6rem;
	padding: 0 0.2rem 0 0;
	border-bottom: 1px solid #E7E7E7;
}

.approve_main_video dl{
	margin-top: 0;
	margin-left: 0.5rem;
	/*margin-left: 0rem;*/
	width: 4.5rem;
	float: left;
}
.approve_main_video dl img{
	width: 100%;
	height: 100%;
}

.approve_main_video dl dt{
	width: 100%;
	height: 3rem;
	border: 1px solid #FF0000;
}

.approve_main_video dl dd{
	margin-left: 0;
	text-align: left;
	width: 100%;
	font-size: 0.9rem;
	line-height: 1.15rem;
	margin-top: 0.2rem;
}

.opinion{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 1rem;
}

.approve_main .textarea{
	border: 1px solid #E7E7E7;
	margin-top: 8px;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

#btn{
	display: block;
	width: 160px;
	height: 35px;
	background: #DB4527;
	border: 1px solid #DB4527;
	color: #FFFFFF;
	margin-left: 5rem;
	margin-top: 1.5rem;
}

.btn_sub{
	display: block;
	width: 100%;
}
