html,body{
	background: none;
}

.feature_grid{
	background: none;
}

.feature_grid ul{
	background: none;
}

.feature_grid ul li {
	background: none;
	width: 33%;
	text-align: center;
}

.mui-media-body{
	font-size: 0.9rem;
}

#feature_grid_list{
	background-color: #FFFFFF;
}

.mui-grid-view.mui-grid-9 {
    border-top: 0;
    border-left: 0;
    background-color: none;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    border-right: 0;
    border-bottom: 0;
    text-align: -webkit-center;
}


