html,body{
	padding: 0;
}

.change_rush ul{
	width: 100%;
	height: 2.8rem;
	padding: 0;
	margin: 0;
}

.change_rush_con{
	padding: 0 0.6rem 0.2rem 0.6rem;
	margin-top: 50px;
}

#ChangeWrap {
	width: 100%;
	height: 7.5rem;
	padding: 1rem 0.2rem 0 1rem;
	border: 1px solid #E7E7E7;	
	margin-bottom: 0.3rem;
	margin-top: 5px;
}

.change_con_left{
	width: 15.5rem;
	margin-bottom: 5px;
}

.change_con_left p{
	display: block;
	font-size: 0.9rem;
	line-height: 1.3rem;
	color: #000000;
}

.change_con_left span{
	display: block;
	font-size: 0.75rem;
	line-height: 1.15rem;
	color: rgba(128, 24, 24, 1);
}
/*.change_con_right a{
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	background: #FF0000;
}*/

.change_con_right a img{
	width: 3.5rem;
	height: 3.5rem;
	float: left;
}

