html,body{
	padding: 0;
}
	/*border: 1px solid #E7E7E7;*/	
.change_matter{
}

/*整改内容*/
.change_con{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 0.5rem;
}

/*整改位置,编号*/
.change_con_code{
	width: 100%;
	height: auto;
	padding-top: 0.5rem;
}

.change_con_code p{
	width: 100%;
	padding: 0;
	margin: 0;
	height: auto;
	line-height: 2rem;
	color: #000000;
	padding-left: 1rem;
	padding-right: 0.1rem;
	font-size: 0.9rem;
	font-weight: ;
	border-bottom: 1px solid #f7f7f7;
}

div{
	height: auto;
}

/*整改通知inform*/
.change_con_inform{
	width: 100%;
	height: auto;
	margin-top: 0.3rem;
}

/*标题*/
h5{ 
	padding: 0;
	margin: 0;
	width: 100%;
	padding-left: 1rem;
	height: auto;
	line-height: 2rem;
	font-size: 0.85rem;
	color: #666666;
	margin-left: 0;
}

p{
	width: 100%;
	padding: 0;
	margin: 0;
	height: auto;
	color: #9c9c9c;
	padding-left: 1rem;
	padding-right:0.5rem;
	font-size: 0.75rem;
	line-height: 1.5rem;
}

.case_record{
	line-height:1.5rem;;
	font-size: 0.65rem;
	color: #494949;
}

/*备注*/
.change_con_audit{
	width: 100%;
	height: 13rem;
	height: auto;
	padding: 1rem 1rem 1rem;
	margin-top: 0.3rem;
	border: 1px solid #E7E7E7;
	margin-bottom: 1rem;
}

.change_con_audit legend{
	padding-left: 0;
	margin-left: 0;
	width: 6rem;
	float: left;
	font-size: 0.75rem;
	margin-right: 0.5rem;
	line-height: 1.5rem;
}

.change_con_audit p{
	padding-left: 0;
	width: auto;
	float: left;
	line-height: 1.5rem;
}

.change_con_audit p input{
	margin-left: 0.5rem;
	line-height: 1.5rem;
}
textarea{
	font-size: 0.75rem;
}

#btn{
	display: block;
	width: 180px;
	height: 32px;
	background: #DB4527;
	border: 1px solid #DB4527;
	color: #FFFFFF;
	margin-left: 3rem;
}

.btn_sub{
	display: block;
	width: 100%;
}

/*.case_record span:first-child{
	display: block; 
	height: auto; 
	line-height: 1rem;
	float: left;
}

.case_record span:last-child{
	display: block; 
	height: auto; 
	float: right;
}*/


/*附件*/
/*.change_con_inform .case_atta{
	height: 2rem;
	margin-left: 1.3rem;
	margin-top: 1rem;
}

.change_con_inform .case_atta a{
	display: block;
	width: 2rem;
	height: 2rem;
	float: left;
}

.change_con_inform .case_atta a img{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
}

.change_con_inform .case_atta span{
	display: block;
	width: 2rem;
	height: 1.5rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	float: left;
	margin-left: 0;
}

.change_con_inform_video{
	margin-bottom: 1rem;
	width: 100%;
	height: 5rem;
	padding: 0 0.2rem 0 0;
	border-bottom: 1px solid #E7E7E7;
}

.change_con_inform_video dl{
	margin-top: 0;
	margin-left: 0.5rem;
	width: 4.5rem;
	float: left;
}
.change_con_inform_video dl img{
	width: 100%;
	height: 100%;
}

.change_con_inform_video dl dt{
	width: 100%;
	height: 3rem;
	border: 1px solid #FF0000;
}

.change_con_inform_video dl dd{
	margin-left: 0;
	text-align: left;
	width: 100%;
	font-size: 0.9rem;
	line-height: 1.15rem;
	margin-top: 0.2rem;
}*/
