.mui-bar-nav ~ .mui-content {
	padding-top: 50px;
}
.mui-off-canvas-right {
	background: #F5F5F5;
}
.mui-off-canvas-right .mui-content {
	color: #333;
}
.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}
.mui-table-view>li {
	padding: 11px 15px;
}
.mui-table-view:before,
.mui-table-view:after {
	height: 0;
}
.mui-table-view-cell:last-child:after, 
.mui-table-view-cell:last-child:before {
    height: 1px;
}
.mui-table-view-cell.mui-collapse.mui-active {
	margin-top: 0;
	background: #fff!important;
}
.mui-table-view-cell:after {
	left: 0;
}
.fire-security-check .mui-table-view-cell .table-item {
	padding-top: 8px;
	padding-bottom: 8px;
}
.light-color {
	color: #666;
}
.lighter-color {
	color: #999;
}
.fire-security-check,
.fire-security-check p {
	font-size: 0.75rem;
	margin: 0;
}
.fire-security-check .table-item {
	line-height: 1rem;
}
.fire-security-check .table-item:first-child {
	font-size: 0.8rem;
}
.fire-security-check .table-item.mui-active {
	background: #fff!important;
}
.fire-security-check .mui-table-view-cell.mui-collapse .mui-collapse-content {
	padding-top: 0;
}
.mui-collapse-content .building {
	width: 80%;
	margin: 0 auto 5px;
	padding: 0 10px;
	line-height: 1.7;
	border: 1px solid #ccc;	
	color: #999;
}
.mui-collapse-content .building:last-child {
	margin-bottom: 0;
}
.content-wrap {
	padding: 10px;
}
.list-organise {
	white-space: nowrap;
}
.list-organise .mui-icon {
	margin-left: 2px;
	color: #333;
}
.list-legend {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.legend {
	width: 30%;
	margin-left: 5px;
	white-space: nowrap;
}
.onprocess {
	/*color: #3F51B5;*/
	color: #008FD1;
}
.overdue {
	/*color: #FF4081;*/
	color: #e51c23;
}
.complete {
	/*color: #8EC21F;*/
	color: #8bc34a;
}
.list-desc {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.list-desc .iconfont {
	font-size: 0.9rem;
}

.list-wrap .list-item {
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}
.list-item p:last-child {
	display: flex;
	
}
.list-wrap .list-item:last-child {
	margin-bottom: 0;
}

.list-item i.iconfont {
	vertical-align: -2px;
	margin-right: 3px;
}
