/*公共样式 start*/
.yellow-top{
	border-left: 8px solid #e8a600;
}
.yellow-bottom {
	border-right: 8px solid #e8a600;
}
.yellow-color {
	color: #e8a600!important;
}
.green-top {
	border-left: 8px solid #228b22;
}
.green-bottom {
	border-right: 8px solid #228b22;
}
.green-color {
	color: #228b22!important;
}
.red-top{
	border-left: 8px solid #db4527;
}
.red-bottom {
	border-right: 8px solid #db4527;
}
.red-color {
	color: #db4527!important;
}

.padb0 {
	padding-bottom: 0px!important;
}
.padt5 {
	padding-top: 5px!important;
}

.fonts69 {
	font-size: 0.69rem!important;
}
/*公共样式 end*/

.risk_wrap {
	width: 96%;
	margin-left: 2%;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;

}


.risk_item {
	padding: 0.3rem 0.2rem 0.3rem 1rem;
	background-color: #fff;
	border: 1px solid #CCCCCC;
}
.risk_item_tit {
	margin-bottom: 0;
}
.item_content_top {
	display: flex;
}
.item_content_bottom {
	overflow: hidden;
	margin-top: 10px;
}
.item_content_bottom p {
	width: 50%;
	float: left;
	text-align: center;
}
.flex_item {
	flex-grow: 1;
}
.flex_item2 {
	flex-grow: 2;	
}


.flex_left {
	padding-left: 10px;
	padding-top: 20px;
}
.flex_left > span {
	font-size: 30px!important;
	color: #228B22; 
}
.flex_left > p {
	font-size: 0.69rem;
}

.flex_item2 > p {
	float: left;
	width: 50%;
	text-align: left;
	margin-bottom: 0px;
}
.right_num {
	font-size: 18px;
	display: block!important;
}
.right_desc {
	font-size: 0.69rem;
	color: #999999;
}

.item_content_bottom .flex_item {
	text-align: center;
}
.bottom_box {
	border: 1px solid #DB4527;
	padding: 2px 3px;
	font-size: 0.69rem;
	color: #DB4527;
	min-width: 8rem;
	display: inline-block;
}
.bottom_num {
	color: #DB4527;
	font-size: 0.69rem;
}

.triangle-top {
	width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
	display: inline-block;
	position: absolute;
	right: -1px;
	top: -5px;
	z-index: 100;
	transform: rotate(-45deg);
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg);
	
}
.triangle-bottom {
	width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
	display: inline-block;
	position: absolute;
	left: -1px;
	bottom: -5px;
	z-index: 100;
	transform: rotate(-45deg); 
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg);
}

/*Risk_height_2 page style start*/
.height-2-item div {
	font-size: 0.69rem;
}
.color-green {
	color: #258d25;
}

/*Risk_height_2 page style end*/

/*Risk_height_3 page style start*/
.height-3-item p {
	font-size: 0.69rem;
}
/*Risk_height_3 page style end*/

/*Risk_height_4 page style start*/
.Risk-height-4-ul {
	padding: 10px!important;
}
.Risk-height-4-ul li {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
	display: flex;
	font-size: 0.69rem!important;
}
.height-4-li-tit, .height-4-li-con {
	width: 50%!important;
	font-size: 0.69rem!important;
	margin-bottom: 0px;
}

/*.risk_wrap::before {
	width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    /*border-left: 8px solid #66b61d;*/
	/*display: inline-block;
	content: " ";
	position: absolute;
	right: -1px;
	top: -5px;
	z-index: 100;
	transform: rotate(-45deg);
}*/


/*.risk_wrap::after {
	width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
	display: inline-block;
	content: " ";
	position: absolute;
	left: -1px;
	bottom: -5px;
	z-index: 100;
	transform: rotate(-45deg); 
}*/