
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500956715418'); /* IE9*/
  src: url('iconfont.eot?t=1500956715418#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500956715418') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500956715418') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500956715418#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e6a6"; }

.icon-iconshandianfahuo:before { content: "\e610"; }

.icon-dangan:before { content: "\e651"; }

.icon-sigekuang:before { content: "\e616"; }

.icon-duduyinleappicon0701:before { content: "\e620"; }

.icon-duigou-copy:before { content: "\e602"; }

.icon-iconfontmofangdaohang-copy:before { content: "\e601"; }

.icon-cuowu1:before { content: "\e617"; }

.icon-shijian:before { content: "\e63e"; }

.icon-zhuyishixiang:before { content: "\e608"; }

.icon-dierge:before { content: "\e60a"; }

.icon-jinzhi:before { content: "\e6dc"; }

.icon-gengduo:before { content: "\e603"; }

.icon-dangan1:before { content: "\e665"; }

.icon-fangkuai:before { content: "\e600"; }

.icon-shipin:before { content: "\e6b1"; }

