
.title{
	height: 60px;
	border-bottom:1px solid #DDDDDD;
}
.titleContent{
	font-size: 1.2rem;
	color: #000000;	
	margin-top: 15px;	
	margin-bottom: 0px;
	padding-left: 1rem;
	padding-right: 1rem;
}
.titleDetail{
	margin-top: 5px;
	font-size: 1.1rem;
	color: rgb(102,102,102);
	padding-left: 1rem;
	padding-right: 1rem;
}
.contenPaddingLeft{
	padding-left: 1rem;
	color: rgb(102,102,102);
	font-size: 1.1rem; 
	margin-top: 0.6rem;
}
.contentNumber{
	margin-top: 5px;
}
